html, body{
    margin: 0;
}

.icon{
    display: inline-block;
    float: left;
}

ul{
    list-style-type: none;
    margin: 0;
}

nav{
    background-color: #333;
    color: #fafafa;
    text-align: right;
}

nav ul li{
    display: inline-block;
    padding: 0;
}

nav a{
    display: block;
    color: #fafafa;
    padding: 10px;
}

.video-container{
    text-align: center;
    background-color: #333;
}

.icon h1{
    margin: 0;
    padding: 10px 0 0 10px;
}

.list{
    margin-top: 50px;
    max-height: 480px;
    overflow: auto;
    background-color: #111;
    display: inline-block;
}

.list .item{
    color: #fafafa;
    padding: 10px;
    text-align: left;
    min-width: 280px;
}

.list .item.active{
    background-color: rgba(0, 78, 129, 0.5);
}

.list .item-title{
    font-size: larger;
}
.list .item-subtitle{
    font-size: small;
    color: #ddd;
}
#modal-container{
    display: none;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    text-align: center;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }